            p{
                font-family: Roboto, Arial;
                margin-top: 0;
                margin-bottom: 0;
                
                
            }
            
            .video-preview {
                display: inline-block;
                width: 280px;
                margin-left: 10px;
                
            }
            .general-video {
                 
                 display: grid;
                 grid-template-columns: 1fr 1fr 1fr 1fr;
                 column-gap: 10px ;
                 
                  
                 
                 
            
                 
            }
    
            
                        
                
                
                
                
            
            body {
                margin: 0;
                padding-top: 80px;
                height: 3000px;
                
            }
        
            