p{
    font-family: roboto;
    margin-bottom: 0;
    margin-top: 0;
}
.text-title{

    font-size: 18px;
    text-align: center;
    text-shadow: pink;
    color: red;
    font-weight: bold;
    width: 300px;
    line-height: 20px;
    margin-bottom: 10;
    

    

}

.video-stats{
    
    font-size: 13px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 20px;

}

.body-title{
    
    font-size: 12px;
    color:rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 46;


}
.apple-text{
    background-color: rgb(227, 65, 64);
    margin-bottom: 50px;
    font-size: 14px;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
.shop-now{
    
    cursor: pointer;
}
.shop-now:hover{
    text-decoration: underline;
}

